{% extends 'flashcards_app/base.html' %}

{% block content %}
<h2>Agregar Flashcard al Mazo: {{ mazo.nombre }}</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="pregunta" class="form-label">Pregunta</label>
        <input type="text" class="form-control" id="pregunta" name="pregunta" required>
    </div>
    <div class="mb-3">
        <label for="respuesta" class="form-label">Respuesta</label>
        <textarea class="form-control" id="respuesta" name="respuesta"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Flashcard</button>
</form>
{% endblock %}
